:root {
    --primary-color: #96D9E1;
    --primary-color-header-top: rgba(150, 217, 225, 0.6);
    --primary-color-header-bottom: rgba(150, 217, 225, 0.4);
    --text-color-header: #fff;
    --text-color: #000;
}

*{
    box-sizing: border-box;
}


/*1rem = 16px ở 100% còn 1rem = 10px ở 62.5%*/
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

btn {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

h3, h2, p {
    margin: 0;
}

.btn-charge {
    /* text-decoration: none; */
    width: 100%;
    height: 34px;
    cursor: pointer;
    /* background-color: var(--primary-color-header-top); */
    border: 1px groove var(--primary-color);
}

.btn-arrow {
    width: 25px;
    height: 25px;
    font-size: 1.6rem;
    cursor: pointer;
}

.menu-today__number-page .active {
    color: var(--primary-color);
    cursor: pointer;
}